.*.swp
.*.swo
_build
*.native
*.byte
.session
TAGS
*.docdir
setup.log
setup.data
qtest*
*.exe
src/main/const.ml
src/main/GitVersion.ml
doc/
done.txt
todo.txt
*.omc
*.cmo
*.cmi
*.cma
*.cmx*
*.cmt*
*.o
*.a
*.opt
*.annot
